Flask~=2.2.2
Flask-Cors
matplotlib~=3.5.3
numpy~=1.23.3
pandas~=1.4.4
scikit-learn~=1.1.2
kneed~=0.8.1
xgboost~=1.6.2
Flask-MonitoringDashboard
Jinja2
Werkzeug
itsdangerous
certifi
MarkupSafe
imbalanced-learn